
 <!DOCTYPE html>
        <html>
                    <head>
                        <meta charset="UTF-8">
                        <meta http-equiv="X - UA - Compatible" contect="IE=edge">
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                        <link rel="stylesheet" href="css/style.css">
                        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/>
                        <link rel="preconnect" href="https://fonts.googleapis.com">
                        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
                        <title>"Mercado liebre"</title>
                    </head>
            <body>
                    <header>
                        <div class="top-header">
                                <div class="logo">
                                        <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                                </div>
                                <div class="buscador">
                                        <form action="views/error" method="get" target="_blank">                           
                                        <input type="search" name="busqueda" placeholder="Buscar...">
                                        <button class="fa fa-search" type="submit" value="Buscar" ></button>
                                </div>
                                <p class="mano-peso">
                                        <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjetas de credito</p>
                                </div>  
                <nav class="nav-bar">
                     <ul>
                        <li><a href="#"style="color: black"class="sub">Ofertas</a></li>
                        <li><a href="#"style="color: black"class="sub">Tiendas Oficiales</a></li>
                        <li><a href="#"style="color: black"class="sub">Vender</a></li>
                        <li><a href="#"style="color: black"class="sub">Ayuda</a></li>
                     </ul>
                     <ul>
                        <li>
                        <a href="/register"style="color: black"class="sub">Crea tu cuenta</a><i class="fas fa-address-card"></i>
                        </li>
                        <li><a href="/login"style="color: black"class="sub">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                        <li>
                        <a href="#"style="color: black"class="sub">Mis Compras</a><i class="fas fa-shopping-basket"></i>
                        </li>
                     </ul>
                </nav>
                        <div class="burger-menu">
                        <i class="fas fa-bars"></i>
                        </div>
                    </header>   
                    <main>
                        <img src="images/img-home-banner.jpg" width="360" alt="Banner de ofertas">
            <section>
                        <h1 class="tamaño">Seccion basada en tu ultima vista</h1>
                        <div class="productos">
                <article class="caja-articulo">
                        <img src=/images/img-cafetera-moulinex.jpg>
                        <div class="contenedor-articulo">    
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">$40% OFF</p>
                        <p class="marca">Cafetera Moulinex</p>    
                </article>
                <article class="caja-articulo">
                        <img src=/images/img-macbook-pro-2019.jpg>
                        <div class="contenedor-articulo">    
                        <i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">$20% OFF</p>
                        <p class="marca">Mackbook Pro 2019</p>             
                </article>
                <article class="caja-articulo">
                        <img src=/images/img-samsung-galaxy-s10.jpg>
                        <div class="contenedor-articulo">    
                        <i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">$10% OFF</p>
                        <p class="marca">Samsung Galaxy S10</p>
                </article>
                <article class="caja-articulo">
                        <img src=/images/img-tv-samsung-smart.jpg>
                        <div class="contenedor-articulo">    
                        <i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <p class="marca">SmartTv Samsung 43"</p>
                </article>
        </section>
                <section>
                        <h2 class="tamaño">Sección de Ofertas</h2>
                        <div class="productos">
                <article class="caja-articulo">
                        <img src=/images/img-cafetera-moulinex.jpg>
                        <div class="contenedor-articulo">    
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <p class="marca">Cafetera Moulinex</p>
                </article>
                <article class="caja-articulo">
                        <img src=/images/img-macbook-pro-2019.jpg>
                        <div class="contenedor-articulo">    
                        <i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <p class="marca">Mackbook Pro 2019</p>
                </article>
                <article class="caja-articulo">
                        <img src=/images/img-samsung-galaxy-s10.jpg>
                        <div class="contenedor-articulo">    
                        <i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">$10% OFF</p>
                        <p class="marca">Samsung Galaxy S10</p>
                </article>
                <article class="caja-articulo">
                        <img src=/images/img-tv-samsung-smart.jpg>  
                        <div class="contenedor-articulo"> 
                        <i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <p class="marca">SmartTv Samsung 43"</p>
                </article>
                </div>
            </section>
        </main>
                <footer> 
                        <div class="footer-icono"><i class="far fa-credit-card"></i></div>
                        <h3>● Pagá con tarjeta o en efectivo</h3>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                        <div class="footer-icono"><i class="fas fa-gift"></i></div>
        
                        <h4>● Envío gratis desde $ 2.500</h4>
                        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                        <div class="footer-icono"><i class="fas fa-user-shield"></i></div>
            
                        <h5>Seguridad de principio a fin</h5>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                        <div>● Copyright © 1999-2020 MercadoLiebre S.R.L.</div> 
                </footer>
            </body>
        </html> 